.image-item {
  transition: transform 0.7s, filter 0.3s;
  background-color: transparent;
}

.image-item:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: brightness(80%) contrast(100%);
  opacity: 0.5;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.hoveredGroup {
  transition: transform 0.7s, filter 0.3s;
  background-color: transparent;
}

.hoveredGroup:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: brightness(80%) contrast(100%);
  opacity: 0.5;
}

#ruler2 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 105%;
  /* margin: 20px auto; */
  height: 20px;
  z-index: 99;
  transform: rotate(90deg) scaleY(-1);
  transform-origin: left;
  margin-left: 22px;
}

#ruler2 #cm,
#ruler2 #mm {
  position: absolute;
  border-left: 3.7px solid #fff;
  height: 45px;
  width: 10%;
}

/* #ruler2 #cm:after {
  position: absolute;
  bottom: -15px;
  font: 11px/1 sans-serif;
} */

#ruler2 #mm {
  height: 20px;
}

#ruler2 #mm:nth-of-type(5) {
  height: 20px;
}

#ruler2 #cm:nth-of-type(1) {
  left: 0%;
}

/* #ruler2 #cm:nth-of-type(1):after {
  content: "0";
} */

#ruler2 #cm:nth-of-type(2) {
  left: 10%;
}

/* #ruler2 #cm:nth-of-type(2):after {
  content: "1";
} */

#ruler2 #cm:nth-of-type(3) {
  left: 20%;
}
/* 
#ruler2 #cm:nth-of-type(3):after {
  content: "2";
} */

#ruler2 #cm:nth-of-type(4) {
  left: 30%;
}

/* #ruler2 #cm:nth-of-type(4):after {
  content: "3";
} */

#ruler2 #cm:nth-of-type(5) {
  left: 40%;
}

/* #ruler2 #cm:nth-of-type(5):after {
  content: "4";
} */

#ruler2 #cm:nth-of-type(6) {
  left: 50%;
}

/* #ruler2 #cm:nth-of-type(6):after {
  content: "5";
} */

#ruler2 #cm:nth-of-type(7) {
  left: 60%;
}
/* 
#ruler2 #cm:nth-of-type(7):after {
  content: "6";
} */

#ruler2 #cm:nth-of-type(8) {
  left: 70%;
}

/* #ruler2 #cm:nth-of-type(8):after {
  content: "7";
} */

#ruler2 #cm:nth-of-type(9) {
  left: 80%;
}

/* #ruler2 #cm:nth-of-type(9):after {
  content: "8";
} */

#ruler2 #cm:nth-of-type(10) {
  left: 90%;
}

/* #ruler2 #cm:nth-of-type(10):after {
  content: "9";
} */

#ruler2 #cm:nth-of-type(11) {
  left: 100%;
}
#ruler2 #cm:nth-of-type(12) {
  left: 110%;
}

/* #ruler2 #cm:nth-of-type(11):after {
  content: "10";
} */

#ruler2 #mm:nth-of-type(1) {
  left: 10%;
}

#ruler2 #mm:nth-of-type(2) {
  left: 20%;
}

#ruler2 #mm:nth-of-type(3) {
  left: 30%;
}

#ruler2 #mm:nth-of-type(4) {
  left: 40%;
}

#ruler2 #mm:nth-of-type(5) {
  left: 50%;
}

#ruler2 #mm:nth-of-type(6) {
  left: 60%;
}

#ruler2 #mm:nth-of-type(7) {
  left: 70%;
}

#ruler2 #mm:nth-of-type(8) {
  left: 80%;
}

#ruler2 #mm:nth-of-type(9) {
  left: 90%;
}

#ruler2 #mm:nth-of-type(10) {
  left: 100%;
}
